<!DOCTYPE html>
<html>
  <head>
    <title>Recognize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/qna"> </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  body{ background-color: grey;}
  </style>

  <body >
    <%= yield %>
  </body>
</html>
